body {
    background: #AAAAAA;
}

.puzzle{
    display: table;
    margin: 30px auto 0;
}

.row{
    display: table-row;
}

.col {
    display: table-cell;
    width: 160px;
    height: 160px;
    border: 1px solid white;
    background-color: #ffffff;
    cursor: pointer;
}

.tile1 {
    background-position: left top;
}
.tile2 {
    background-position: center top;
}
.tile3 {
    background-position: right top;
}
.tile4 {
    background-position: left center;
}
.tile5 {
    background-position: center center;
}
.tile6 {
    background-position: right center;
}
.tile7 {
    background-position: left bottom;
}
.tile8 {
    background-position: center bottom;
}
.tile9 {
    background: white; cursor: default;
}